<div class="category-featured-activity padding-center border-bottom">
  <div class="label-text medium">
    <div class="flex-container horizontal justify-space-between align-end">
      <div class="flex-item">
        <div class="title">
          Featured Experience
        </div>
        <div class="description">
          Our top experience
        </div>
      </div>
      <!-- <div class="flex-item">
            <p>Help 3124123312</p>
        </div> -->
    </div>
  </div>
        <div class="flex-container scroll-container">
          <div class="flex-item flex-1 scroll-item-5" *ngFor="let item of products">
            <app-card-experience-featured-product
            [id]="item.id"
            [name]="item.name"
            [description]="item.short_description"
            [thumbnail]="item.thumbnail"
            [price]="item.price"
            [avatar]="item.host.photo"
            [review] = "item.rating.rating_summary"
            [numReview] = "item.rating.rating_count"
            [label] = "item.category"
            ></app-card-experience-featured-product>
          </div>
          
        </div>
      </div>
      