<app-global-header></app-global-header>

<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Edit / Add Account
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="bankForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="acc_name" matInput
            placeholder="Account Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="number" formControlName="acc_number" matInput
            matInput placeholder="Account Number">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input ype="text" formControlName="bank_name" matInput
              matInput placeholder="Bank Name">
          </mat-form-field>
        <button type="submit" class="button primary radius margin-bottom-1"
        [disabled]="bankForm.invalid">Save and Continue</button>
      </form>
    </div>
  </div>
</section>