<body>
  <div class="row">
    <div id="sticky-bottom-anchor" class="medium-9 columns" *ngIf="user">
      <div class="my-account"><a class="backnav-url" href="https://wia.id/exp/product/"></a>
        <form class="form" method="post" name="addproductform" id="addproductform">
        <div class="padding-center">
          <h3>Personal Information</h3>
          <label for="customer_bio">Tell more about your self</label>
          <input type="text" id="bio" name="bio" [(ngModel)]="user.customer_bio"
          class="form-control" placeholder="See the example below">
          <div class="callout success">
            <h5>Tips</h5>
            <p>I am a law student in Flores. I am also a travel blogger for 5 years. I would love to show you the best
            of our home city and try the best of our well known street foods. I am pretty sure you can not see
            Waerebo well by yourself because it hidden in the alleys where all local live. Just go with me I will
            take you to the place only local know to meet people and understand more about my beautiful city.
            </p>
          </div>
          <label for="customer_job">Tell more about your professional job / skill</label>
          <input type="text" id="customer_jobs" name="customer_jobs" [(ngModel)]="user.customer_job"
          class="form-control" placeholder="Im a professional photographer based in Jakarta">
        </div>
        <!-- <app-calendar></app-calendar> -->
        <button type="button" value="add" class="button"(click)="simpan()">
          Save and Continue
        </button>
        </form>
      </div>
    </div>
  </div>
</body>