<div class="card-experience-location">
  <a routerLink="/catalog/category/id/{{id}}">
    
    <img src="{{image}}" alt="">

    <div class="content-container">
      <div class="label">
        Explore
      </div>
      <div class="title">
        {{name}}
      </div>

    </div>
  </a>
</div>
