<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
               Account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
        <app-sidebar-account></app-sidebar-account>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Profile
            </div>
          </div>
        </div>
      </div>
      
      <div class="dashboard">
        <section class="padding-center border-bottom">
          <div class="row">
            <div class="small-4 medium-2 columns text-center">
              <div class="host-profile">
            
            <img [src]="user.photo" alt="" style="border-radius:100px;height:100px;line-height:100px;width:100px;background: 
            no-repeat center center; 
           -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
            </div>
              <a routerLink="/account/customer/photo/edit" class="small-text">Change Photo</a>
            </div>
            <div class="small-8 medium-10 columns">
              <h1 class="show-for-medium"> {{user.firstname}}</h1>
              <div class="show-for-medium"> {{user.customer_job}}</div>
              <div class="show-for-medium">{{user.customer_bio}}<br />
              </div>
              <a routerLink="/account/customer/profile/edit">Edit Profile</a>
            </div>
          </div>
        </section>
        <section class="padding-center border-bottom">
          <div class="row">
            <div class="medium-12 columns">
              <h5 class="uppercase">About Me</h5>
              <p>{{user.firstname}}<br />{{user.email}}<br />
              </p>
            </div>
          </div>
        </section>
        <section class="padding-center border-bottom">
          <div class="row">
            <div class="medium-12 columns">
              <h5 class="uppercase">Address</h5>
              <p>{{user.address.street}}<br />
                {{user.address.city}}<br/>
                Phone: {{user.address.telephone}}</p>
              </div>
            </div>
          </section>
        </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->


