<div class="padding-center">
  <div class="label-text small">
    <div class="flex-container horizontal justify-space-between">
      <div class="flex-item">
        <div class="title">
          Price & Availability
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="editFormm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      
      <input type="number" value="{{product.price}}" formControlName="price" matInput>
        <span matPrefix>Rp &nbsp;</span>
        <span matSuffix>/ Person</span>
        

    </mat-form-field>
    
    <mat-form-field class="example-full-width">
      <input class="input" type="number" formControlName="tetapanqty" matInput placeholder="Maximum person per session">
      <span matSuffix>/ Session</span>
    </mat-form-field>

    <!-- <div class="title"><b>Location</b></div> -->
    <mat-form-field>
        <mat-label>Location</mat-label>
        <mat-select formControlName="exp_location">
          <mat-option *ngFor="let loca of locations" [value]="loca">
            {{loca}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  <br>
    <button type="submit" class="button primary radius margin-bottom-1" [disabled]="editFormm.invalid">Save and Continue</button>
  </form>
</div>

<!--   <label for="location">Experience Location</label>
            <select id="location" name="location" [(ngModel)]="product.exp_location" class="form-control">
              <option *ngFor="let loca of locations" [value]="loca.name">{{loca.name}}</option>
            </select>-->