<div class="category-featured-activity padding-center border-bottom">
  <div class="label-text medium">
    <div class="flex-container horizontal justify-space-between align-end">
        <div class="flex-item">
            <div class="title">
                Explore by Activity
            </div>
            <div class="description">
                Find an experience based on activity
            </div>
        </div>
    </div>
</div>
  <div class="flex-container scroll-container">
    <div class="flex-item flex-1 scroll-item-3" *ngFor="let item of activity">
      <app-card-experience-activity 
      [image]="item.image" 
      [title]="item.title" 
      [id]="item.id" 
      [name]="item.name"
      [desc]="item.short_description"></app-card-experience-activity>
    </div>
  </div>
</div>
