<div class="card-experience-activity white">

  <a routerLink="/catalog/category/id/{{id}}">
    <div class="image-container">
      <img height="300" width="500" src="{{image}}" alt="">
      <div class="category-name">
        {{name}}
      </div>
    </div>


  </a>
  <div class="content-container">

    <div class="title">
      <h2>{{title}}</h2>
    </div>
    <div class="description">
      {{desc}}
    </div>

    <div class="button primary radius tiny">
      Book Now
    </div>

  </div>

</div>
