<div class="host-list-container">
    <div class="row small-up-2 medium-up-4">
      <div class="columns">
        <div class="card">
          <div class="row collapse">
            <div class="small-12 columns" routerLink="/product/{{expLists.id}}">
              <!-- <a routerLink="/product/{{expLists.id}}"> -->
                <mat-card class="example-card">
                  <img mat-card-image src="https://wia.id/media/catalog/product/cache/1/small_image/1000x/17f82f742ffe127f42dca9de82fb58b1/u/n/untitled_design_15_.png">
                  <mat-card-content>
                      <div class="exp-desc">
                          <h5>Experience</h5>
                          <h2>{{expLists.title}}</h2>
                          <div class="exp-price">
                            <div class="price-label">Start From</div>
                            <div class="price-value">
                              <div class="price-box">
                                <span class="regular-price" id="product-price-4221">
                                  <span class="price">{{exp.price}}</span>
                                </span>
                              </div>
                            </div>
                          </div>
                      </div>
                  </mat-card-content>
                </mat-card>
              <!-- </a> -->
            </div>
          </div>
        </div>
    </div>
  </div>