<div class="card-experience-booking-summary">
    <div class="padding-bottom-1 border-bottom">
            <div class="label-text small">
                    <div class="flex-container horizontal justify-space-between">
                        <div class="flex-item">
                            <div class="title">
                                Booking Schedule
                            </div>
                        </div>
                    </div>
                </div>
        <div class="row">
            <div class="small-6 columns">
                <div class="form-complete">
                    <div class="label">
                        Booking Dates
                    </div>
                    <div class="input">
                        {{bookdate}}
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="form-complete">
                    <div class="label">
                        Guest
                    </div>
                    <div class="input">
                        {{guest}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-bottom-1 padding-top-1 border-bottom">
        <p><b>Cancelation Policy</b></p>
        <p>Anda dapat melakukan pembatalan pesanan dengan pengembalian 100% dalam waktu 1x24 jam</p>
    </div>
    <!-- <div class="padding-bottom-1 padding-top-1">
        <p><b>Rules</b></p>
        <p>{{rules}}</p>
    </div> -->
</div>