<app-global-header></app-global-header>
<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<!-- AFTER BODY -->

<!-- BEFORE MAIN PAGE -->
<section class="before-main-page padding-center border-bottom">
  <div class="row">
    <div class="medium-6 columns">
      <app-slider-product-details [images]="product?.media_gallery"></app-slider-product-details>
    </div>
    <div class="medium-6 columns">
      <app-card-experience-product-details [label]="product?.category" [title]="product?.name"
        [shortDescription]="product?.short_description" [price]="product?.price | currency: 'Rp' : 'symbol':'1.0-0' "
        [name]="product?.host.name" [avatar]="product?.host.photo" [location]="product?.exp_location"
        [duration]="product?.exp_duration" [description]="product?.host.bio">
      </app-card-experience-product-details>

      <!-- TODO -->
      <!-- REFACTOR FILE -->
      <app-modal [modalName]="'hello'">
        <div class="medium-6 medium-centered columns">
          <div class="padding-center">
            <div class="label-text medium show-for-medium">
              <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">

                  <div class="title">
                    Lets find a perfect date for you
                  </div>

                </div>

              </div>
            </div>

            <form [formGroup]="bookingForm">
              <div class="available-date margin-bottom-1">
                <h5>AVAILABLE DATE</h5>
                <div *ngIf="product">
                  <ejs-calendar (change)="checkAvailability($event)" (renderDayCell)="onLoad($event)"
                    [values]="bookDate.value" #calendar></ejs-calendar>
                </div>
              </div>


              <div class="available-stock" *ngIf="bookDate.length != 0">
                <h5>AVAILABLE SEAT</h5>

                <mat-form-field style="min-width:100%">

                  <mat-label>Select total guest</mat-label>
                  <mat-select class="form-control" formControlName="qty">
                    <mat-option *ngFor="let number of numbers" [value]="number">
                      {{number}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <button *ngIf="bookDate.length != 0" class="button primary radius expanded" [disabled]="!bookingForm.valid"
              (click)="submit()">Submit</button>

            </form>
            
          </div>


        </div>

      </app-modal>









    </div>
  </div>
</section>

<!-- MAIN PAGE -->
<section class="main-page padding-center border-bottom">
  <div class="row">
    <div class="medium-12 columns">
      <!-- ABOUT THE EXPERIENCE -->
      <div class="about-experience-container padding-center border-bottom">
        <h3>About The Experience</h3>
        <h5>HOST</h5>
        <p>{{product?.host.bio}}</p>
        <h5>DETAILS</h5>
        <p class="margin-bottom-2">{{product?.description}}</p>
        <!-- <h5>OUR TEAM</h5>
                <div class="flex-container">
                    <div class="flex-item margin-right-05">
                        <img class="avatar-image" height="50" width="50" src="https://via.placeholder.com/100x100" alt="">
                    </div>
                    <div class="flex-item margin-right-05">
                        <img class="avatar-image" height="50" width="50" src="https://via.placeholder.com/100x100" alt="">
                    </div>
                    <div class="flex-item margin-right-05">
                        <img class="avatar-image" height="50" width="50" src="https://via.placeholder.com/100x100" alt="">
                    </div>
                    <div class="flex-item margin-right-05">
                        <img class="avatar-image" height="50" width="50" src="https://via.placeholder.com/100x100" alt="">
                    </div>
                </div> -->
      </div>

      <!-- INCLUDE -->
      <div class="include-container padding-center border-bottom">
        <h3>Include</h3>
        <div class="row small-up-2 medium-up-3">
          <div class="columns" *ngFor="let item of product?.exp_include">
            <h5>{{item.type}}</h5>
            <p>{{item.value}}</p>
          </div>
        </div>
      </div>

      <!-- EXCLUDE -->
      <div class="exclude-container padding-center border-bottom">
        <h3>What to bring</h3>
        <div class="row medium-up-2">
          <div class="columns" *ngFor="let items of product?.exp_exclude; let i=index">
            {{items}}
          </div>
        </div>
      </div>

      <!-- ITINERARY -->
      <div class="itinerary-container padding-center">
        <h3>Itinerary</h3>
        <div class="row medium-up-1">
          <div class="columns" *ngFor="let item of product?.exp_itenenary; let i=index">
            <div class="row">
              <div class="small-4 medium-3 columns">
                <b>{{item.time}}</b>
              </div>
              <div class="small-8 medium-9 columns">
                {{item.value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<section class="after-main-page">
  <div class="row">
    <div class="medium-12 columns">
        

            <app-card-experience-customer-review [avatar]="review.customer.photo" [title]="review.customer.name"
              [description]="review.detail" [value]="review.value" [time]="review.created" *ngFor="let review of reviews">
            </app-card-experience-customer-review>
          
    </div>
  </div>
  

</section>

<!-- BEFORE FOOTER -->
<app-global-footer></app-global-footer>
