<div class="checkout-bar text-left">
  <ul class="menu">
    <li> 1. Contact Info </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li> 2. Review Order </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li> 3. Payment </li>
  </ul>
</div>
<style>#map-canvas {min-height: 350px;}</style>
<div class="wrapper">
  <div class="page">
    <section class="main-content">
      <div class="small-order-summary-container show-for-small-only">
        <div class="row collapse">
          <div class="small-3 columns">
            <img height="300" width="200" id="product-collection-image-4221" class="lazy"
            data-srcset="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 768w, https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 1024w"
            data-src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png"
            src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png"
            alt="" />
          </div>
          <div class="small-9 columns">
            <div style="padding-left:10px">
              <h4 class="no-margin">{{name}}</h4>
              <p>{{price | currency : 'Rp' : 'symbol' : '1.0'}}</p>
            </div>
          </div>
        </div>
      </div>
      <section id="checkout-cart" class="checkout padding-center grey-bg">
        <div class="row small-collapse medium-uncollapse">
          <div class="medium-7 columns">
            <div class="shipping-address-container">
              <div class="shipping-address-header">
                <h2>Please review your order</h2>
              </div>
              <div class="address-list-container">
                <p class="caption">Name</p>
                <h3>{{guest_name}}</h3>
              </div>
              <div class="address-list-container border-top">
                <!-- <h5 class="caption">BOOKING DETAILS</h5> -->
                <div class="row collapse small-up-2">
                  <div class="columns">
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date</p>
                    <h3>{{bookdate}}</h3>
                  </div>
                  <div class="columns">
                    <p><i class="fa fa-user" aria-hidden="true"></i> Total Guest</p>
                    <h3>{{qty}} Person</h3>
                  </div>
                </div>
              </div>
              <div class="address-list-container border-top">
                <p class="caption">Phone</p>
                <h3>{{guest_phone}}</h3>
              </div>
              <div class="address-list-container border-top">
                <p class="caption">Email</p>
                <h3>{{guest_email}}</h3>
              </div>

              <div class="address-list-container border-top">
                <h5 class="caption">HOUSE RULES</h5>
                <p></p>
              </div>
              <div class="address-list-container border-top">
                <h5 class="caption">NOTE TO HOST</h5>
                <p>{{note}}</p>
              </div>
              <div class="address-list-container border-top">
                <h5 class="caption">CANCELATION POLICY</h5>
                <p>Anda dapat melakukan pembatalan pesanan dengan pengembalian 100% dalam waktu 1x24 jam</p>
              </div>
                <!-- <button type="submit" (click)="submit()" class="button expanded">Continue to Payment <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
              <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By booking an order you are agree to our term and conditions</p> -->
            </div>
          </div>
          </div>
        </section>
      </section>
    </div>
  </div>