<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
               Account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
        <app-sidebar-account></app-sidebar-account>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Change Password
            </div>
          </div>
        </div>
      </div>
      

        <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <input class="example-full-width" type="text" formControlName="email" matInput placeholder="Email">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input class="example-full-width" formControlName="password" matInput placeholder="Current Password"
              type="password">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input class="example-full-width" formControlName="new_password" matInput placeholder="New Password"
              type="password">

          </mat-form-field>
          <button type="submit" class="button expanded primary radius margin-bottom-1" [disabled]="changePassForm.invalid">Submit</button>

        </form>
      <!-- {{> list-tile-icon}} -->
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
