<app-global-header></app-global-header>

<!-- AFTER BODY -->

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page fullheight medium-grey-bg padding-center">
  <div class="row">
    <div class="medium-8 medium-centered columns">
      <div class="form-container" *ngIf="customerSession == null">
        <div class="label-text small">
          <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
              <div class="title">
                Login
              </div>
            </div>
          </div>
        </div>


        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <input class="example-full-width" type="text" formControlName="email" matInput placeholder="Email">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input class="example-full-width" formControlName="password" matInput placeholder="Password"
              type="password">

          </mat-form-field>
          <button type="submit" class="button expanded primary radius margin-bottom-1" [disabled]="loginForm.invalid">Submit</button>

          <a routerLink="/account/register" class="button primary expanded radius">Register</a>
        </form>



      </div>
    </div>
  </div>
</section>
<div *ngIf="customerSession != null">
  You are logged in.
</div>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
