
<div class="slider-product-details">
        <div class="flex-container scroll-container">
            <div class="flex-item scroll-item-1" *ngFor="let image of images">
                <img src="{{image.imageurl}}" alt="">
            </div>
           
        </div>
    </div>