<div class="label-text small">
        <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
                <div class="title">
                   Small Text
                </div>
               
            </div>
            <div class="flex-item">
                <a href="#" class="action">View More</a>
            </div>
    
        </div>
    </div>