<div class="card-become-host">
        <div class="row">
            <div class="medium-6 columns">
                <img src="https://via.placeholder.com/600x350" alt="">
            </div>
            <div class="medium-6 columns">
                <div class="content-container">
                        <div class="title">
                                Get paid for doing what you love
                            </div>
                            <div class="description">
                                Get ready to get paid yoo bro, Get ready to get paid yoo bro.
                                Get Rp 3.000.000,00/month
                            </div>
                            <a href="#" class="button primary radius">
                                Host an Experience
                            </a>
                </div>
                
            </div>
        </div>
    </div>