<div class="list-tile">
        <a routerLink="{{url}}">
        <div class="flex-container align-center">
            <div class="flex-item flex-3">
                <div class="title">
                    {{title}}
                </div>
                <div class="subtitle" *ngIf="subtitle !== null">
                    {{subtitle}}
                </div>
            </div>
            <div class="flex-item flex-05 text-right">
                <div class="icon">
                        <fa-icon [icon]="icon"></fa-icon>
                    
                </div>
            </div>
        </div>
    </a>
</div>