<app-global-header [isTransparent]=true></app-global-header>


<!-- AFTER BODY -->
<section class="after-body">
  <div class="parallax-container white align-left" style="background: url('https://wia.id/experience/assets/image/homepage.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;">
    <div class="parallax-content">
      <div class="row">
        <div class="medium-6 columns">
          <div class="hero-title margin-bottom-1">
            <span *ngIf="user.firstname != null">Hi {{user.firstname}},</span> Lets find a journey for you
          </div>

          <div *ngIf="ready == 0" class="fullWidth white">
            <label for="">Search location or activity</label>
            <mat-form-field class="fullWidth white" style="min-width: 100%">
              <input (ngModelChange)="check($event)" matInput [formControl]="searchControl" [matAutocomplete]="auto">
              <span matPrefix> <fa-icon [icon]="faSearch"></fa-icon></span>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of filteredSearchList" [value]="item.name"
                  (onSelectionChange)="redirect(item.type, item.id)">
                  <fa-icon *ngIf="item.type == TYPE_LOCATION" [icon]="faLocationArrow"></fa-icon>
                  <fa-icon *ngIf="item.type == TYPE_ACTIVITY" [icon]="faArrowCircleRight"></fa-icon>
                  <!--
                              <fa-icon *ngIf="item.type == TYPE_PRODUCT" [icon]="faShoppingBag"></fa-icon>
                              -->

                  {{item.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-error *ngIf="matcher == 'ZeroResult'">No Result</mat-error>

          </div>

          <div *ngIf="ready < 0">
            <h4>Please wait..</h4>
          </div>
        </div>
      </div>
      <div class="photo-credit">
        Photo By : Artem Beliaikin
      </div>



    </div>

  </div>




</section>

<!-- BEFORE MAIN PAGE -->
<section class="before-main-page margin-top-1 margin-bottom-1">

  <div class="row">
    <div class="medium-12 columns">
      <!-- FEATURED LOCATION | GLOBAL FUNCTION -->
      <app-featured-location-block [id]="642"></app-featured-location-block>
    </div>
  </div>
</section>

<!-- MAIN PAGE -->
<section class="main-page">

  <div class="row">
    <div class="medium-12 columns">
      <!-- FEATURED EXPERIENCE | GLOBAL FUNCTION -->
      <app-featured-product-block [id]="662"></app-featured-product-block>
    </div>
  </div>

  <div class="row">
      <div class="medium-12 columns">
        <!-- PROMO | GLOBAL FUNCTION -->
        <app-featured-promo-block [id]="714"></app-featured-promo-block>
      </div>
    </div>

  <div class="row">
    <div class="medium-12 columns">
      <!-- FEATURED ACTIVITY | GLOBAL FUNCTION -->
      <app-featured-activity-block [id]="706"></app-featured-activity-block>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<section class="after-main-page hide">
  <!-- BECOME A HOST -->
  <div class="row">
    <div class="medium-12 columns">
      <div class="padding-center border-top">
        <!-- {{> card-become-host}} -->
        <app-card-become-host></app-card-become-host>
      </div>

    </div>
  </div>
</section>

<!-- BEFORE FOOTER -->


<app-global-footer></app-global-footer>
