<div class="padding-center">
        <div class="label-text small">
          <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
              <div class="title">
                Manage Schedule
              </div>
            </div>
          </div>
        </div>

    <app-calendar></app-calendar>
        </div>