<div class="card-experience-booking-schedule">
    <div class="label-text small">
        <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
                <div class="title">
                    Booking Schedule
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <div class="form-complete">
                <div class="label">
                    Booking Dates
                </div>
                <div class="input">
                    {{booking_date}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <div class="form-complete">
                <div class="label">
                    Guest
                </div>
                <div class="input">
                    {{guest}}
                </div>
            </div>
        </div>
    </div>
</div>