<div class="list-payout">
<a [routerLink]="url">
  
        <div class="flex-container horizontal ">
            <div class="flex-item flex-3">
                <div class="label" [ngClass]="ngClass()">
                    <fa-icon [icon]="icon"></fa-icon> {{label}}
                </div>
                <div class="title">
                    {{title}}
                </div>
                <div class="subtitle">
                    {{(subtitle.length>20)? (subtitle | slice:0:20 | titlecase)+'..':(subtitle |titlecase) }}
              
                </div>
            </div>
            <div class="flex-item flex-2 text-right">
                <div class="time">
                   {{time}}
                </div>
                <div class="price">
                    {{price | currency : 'Rp' : 'symbol' : '1.0'}}
                </div>
            </div>
        </div>
    </a>


</div>