<div class="category-featured-activity padding-center border-bottom">
    <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
                <div class="title">
                    Find a deals
                </div>
                <div class="description">
                    Promo diskon dan partnership
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container scroll-container">
        <div class="flex-item flex-1 scroll-item-3" *ngFor="let item of promotions">
            <app-card-experience-promo 
            [image]="item.image" 
            [title]="item.title" 
            [id]="item.id" 
            [name]="item.name"
            [desc]="item.short_description"></app-card-experience-promo>
        </div>
    </div>
</div>