<div class="label-text large">
    <div class="flex-container horizontal justify-space-between align-end">
        <div class="flex-item">
            <a href="#" class="action">Back</a>
            <div class="title">
                {{title}}
            </div>
            <div class="description">
                {{desc}}
            </div>
        </div>
        <div class="flex-item">
            <p>Help 3124123312</p>
        </div>
    </div>
</div>