<div class="padding-center">
  <div class="label-text small">
    <div class="flex-container horizontal justify-space-between">
      <div class="flex-item">
        <div class="title">
          Basic Information
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <input type="text" formControlName="name" matInput
        placeholder="What is your experience name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input class="input" type="text" formControlName="short_description"
        matInput placeholder="Short info about your experience">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <input class="input" type="text" formControlName="description"
          matInput placeholder="Tell more about your experience">
      </mat-form-field>
    <button type="submit" class="button primary radius margin-bottom-1"
    [disabled]="editForm.invalid">Save and Continue</button>
  </form>
</div>
