<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-buttons/styles/material.css" rel="stylesheet" />
<link href="https://cdn.syncfusion.com/ej2/ej2-calendars/styles/material.css" rel="stylesheet" />

<!-- <ejs-datepicker #calendar [isMultiSelection]="multiSelection" [values]="dates" [min]="minDate"
(change)="onValueChange()" (created)="onValueChange()" format='yyyy-MM-dd'></ejs-datepicker> -->

<!-- <div id="control_wrapper" class="col-lg-6 col-sm-8 col-md-8 multiselectWrapper">
    <div id="container" style="overflow:auto">
        <ejs-calendar #calendar [isMultiSelection]="multiSelection" [values]='dateValues' 
        (change)="onValueChange()" (created)="onValueChange()" 
        *ngFor="let date of product?.exp_available_date; let i=index"
        [(ngModel)]="date"></ejs-calendar>
    </div>
</div>
<br>
<h5>Selected values</h5>
<div class="contentValue">
    <div id="multiSelect"></div>
</div> -->
<!-- *ngFor="let date of product?.exp_available_date; let i=index" -->

<div *ngIf="product" id="control_wrapper" class="col-lg-6 col-sm-8 col-md-8 multiselectWrapper">
        <div id="container" style="overflow:auto">
            <ejs-calendar #calendar [min]="minDate" [isMultiSelection]="multiSelection" [values]='product?.exp_available_date'
            (change)="onValueChange($event)" ></ejs-calendar>
        </div>
    
        <button type="submit" (click)="submit()" class="button primary radius margin-bottom-1">Save and Continue</button>
    
    </div>