<div class="category-featured-product padding-center border-bottom">
  <div class="label-text medium">
    <div class="flex-container horizontal justify-space-between align-end">
      <div class="flex-item">
        <div class="title">
          Explore by Location
        </div>
        <div class="description">
          Find an experience in your area
        </div>
      </div>
      <!-- <div class="flex-item">
            <p>Help 3124123312</p>
        </div> -->
    </div>
  </div>
  <div class="flex-container scroll-container">
    <div class="flex-item flex-1 scroll-item-5" *ngFor="let item of locations">
      <app-card-experience-location [image]="item.image" [id]="item.id" [name]="item.name"></app-card-experience-location>
    </div>
  </div>
</div>
