<div class="experience-product-details">
  <div class="product-container">
    <div class="label">
      <!-- {{label}} -->Experience
    </div>
    <div class="title">
      <h1>
        {{title | titlecase}}
      </h1>

    </div>
    <div class="description">
      {{shortDescription}}
    </div>
    <div class="price">
      {{price}}
    </div>
  </div>
  <div class="host-container">
    <div class="profile margin-bottom-1">
      <div class="flex-container align-center">
        <div class="flex-item flex-05 margin-right-05">
          <img height="50" width="50" class="avatar-image" src="{{avatar}}" alt="">
        </div>
        <div class="flex-item flex-3">
          <div class="name">
            {{name}}
          </div>
          <span class="location">
            {{location}}
          </span>
          <span class="duration hide">
            {{duration}}
          </span>
          <div class="rating-container hide">
            <span class="rating-summary">
              {{review}}
            </span>
            <span class="rating-star" style="color:#f57224">
              <fa-icon [icon]="faStar"></fa-icon>
            </span>
            <!-- <span class="rating-count">
              ( 100 Review's )
            </span> -->
          </div>
        </div>

        <!-- <div class="flex-item flex-05">
          <a href="#" class="button secondary tiny radius hollow">Contact</a>
        </div> -->
      </div>
    </div>
    <!-- <div class="description">
      <p><b>About</b></p>
      <p>{{description}}
      </p>

    </div> -->
  </div>

    <!-- <a href="#" class="button primary radius expanded">
      Check Availability
    </a>
    <p class="tiny-text">Next Available data 25 Jan 2019</p> -->

</div>
