<body>
  <div class="row">
    <div id="sticky-bottom-anchor" class="medium-9 columns" *ngIf="product">
      <div class="my-account"><a class="backnav-url" href="https://wia.id/exp/product/"></a>
        <form class="form" method="post" name="addproductform" id="addproductform">
          <div class="padding-center">
            <h3>Experience Details</h3>
            <legend>What will you provide for this experience</legend>
            <div class="row medium-up-2">
              <mat-form-field class="columns" *ngFor="let item of expInclude; let i=index">
                <div class="list-group">
                    <mat-checkbox [(ngModel)]="item.enabled" name="itemType{{i}}"
                    class="form-control" (change)="toggleProvide(i)" matInput>{{item.typeOriginal}}</mat-checkbox>
                    <br>
                    <input type="text" [(ngModel)]="item.value"
                    class="form-control"
                    id="itemValue" name="itemValue{{i}}" matInput 
                    [(required)]="!item.enabled"
                    [(disabled)]="!item.enabled">
                </div>
              </mat-form-field>
            </div>
            
            <!-- <legend>What should the customer bring to this experience</legend>
            <div class="list-group" *ngFor="let exclude of product.exp_exclude; let i=index">
              <input type="text" [(ngModel)]="exclude" name="exclude{{i}}"
              placeholder="Tell more about what the customer should bring to this experience">
            </div>
            {{exclude}}
            <a (click)="tambahh()">+ Add More</a> -->

            <div class="padding-center">
              <legend>Add Itinerary</legend>
              <div class="list-group">
                <div class="row" *ngFor="let itin of product.exp_itenenary; let i=index">
                  <mat-form-field class="small-3 columns">
                    <input type="text" class="form-control" [(ngModel)]="itin.time" name="itin.time{{i}}" matInput required>
                    <mat-hint>07.00 - 09.00</mat-hint>
                  </mat-form-field>
                  <mat-form-field class="small-8 columns">
                    <input type="text" [(ngModel)]="itin.value" name="itin.value{{i}}" matInput required>
                    <mat-hint>We will start climb the mount Batur</mat-hint>
                  </mat-form-field>
                  <a (click)="product.exp_itenenary.splice(i, 1)"><fa-icon [icon]="faTrash"></fa-icon></a>
                </div>
                <div id="itenerary"></div>
                <a (click)="tambah()">+ Add More</a>
              </div>
            </div>

            <button [disabled]="disabled == true" type="submit" value="add" class="button primary radius margin-bottom-1"
            (click)="simpan()">Save and Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>