<a routerLink="/catalog/promo/id/{{id}}">
    <div class="card-global-one"><img
        src="{{image}}" width="350" height="220"
      >
      <div class="content-container">
        <div class="label">WIA X Nusatrip</div>
        <div class="title">{{name}}</div>
        <div class="description">
            
        </div>
        <div class="button-container">
          <div class="button primary radius tiny">View Promo</div>
        </div>
      </div>
    </div>
</a>

