<body>
  <div class="row">
    <div class="medium-9 columns">
      <div class="padding-center">
        <div class="row" *ngIf="failedPhoto.length >0">
            <h6>These photos exceed 5MB, it cannot be saved</h6>
            <p *ngFor="let item of failedPhoto">{{item}}</p>
        </div>
        <br>
        <div class="row">
          <h3>Upload Photo</h3>
          <p *ngIf="photos.length == 0">No photos selected...</p>
          <div class="row align-self-middle">
            <div class="columns flex small-12 medium-6 large-5 imgPreview" *ngFor="let photoByte of photos; let i=index">
              <div class="align-self-middle">
                <img src="{{'data:'+photoByte.type+';base64,'+photoByte.base64}}">
                <a class="button primary deleteImage" *ngIf="!isUploading" (click)="deleteImage(i)">Remove</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!isUploading; else uploading">
          <input id="file" name="file[]" accept="image/*" type="file" multiple="" (change)="onFileSelected($event)">
          <p>Maximum size per file is 5MB</p>
          
          <button *ngIf="photos.length == 0; else noFiles" class="button secondary" >Please select image(s)</button>
          <button (click)="skip()" *ngIf="photos.length == 0" class="button Primary" >Skip Image Upload</button>

          <ng-template #noFiles>
              <button *ngIf="photos.length > 0" type="submit" class="button primary" name="submit" (click)="onUpload()">Save {{photos.length}} image(s) and Continue</button>
          </ng-template>
          
        </div>
        <ng-template #uploading>
            <button type="submit" class="button secondary" name="submit" disabled>Saving...</button>
        </ng-template>
      </div>
    </div>
  </div>
</body>