<app-global-header></app-global-header>

<!-- AFTER BODY -->
<section class="after-body padding-center">
  <div class="row">
    <div class="columns medium-6">
      <div class="label-text large">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <h5 class="uppercase">WIA X NUSATRIP</h5>
            <div class="title">
                Host and experience and win DJI Tello
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="columns medium-12">
      <div class="banner-promo-host"
        style="background: url(https://images.unsplash.com/photo-1525496649711-a6c069fc6a1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
        <div class="parallax-content">
          <div class="row">
            <div class="columns medium-6 medium-push-6">
              <div class="content-container ">
                <div class="label-text medium">
                  <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                      <div class="title margin-bottom-2">
                        Start your experience<br>and get up to.
                      </div>
                      <h3>Rp 4.000.000.00,- / Month </h3>
                      <a routerLink="/onboarding/step-1" class="button primary radius">
                        Host an Experience
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BEFORE MAIN PAGE -->

<!-- MAIN PAGE -->
<section class="main-page">
  <div class="row">
    <div class="medium 12 columns">
      <div class="padding-center border-bottom show-for-medium">
        <div class="row">
          <div class="columns medium-4">
            <h3>Earn money for doing what you like</h3>
            <p>This is description of USP Number One</p>
          </div>
          <div class="columns medium-4">
            <h3>Host whenever you want</h3>
            <label>This is description of USP Number One</label>
          </div>
          <div class="columns medium-4">
            <h3>This is USP Number Three</h3>
            <label>This is description of USP Number One</label>
          </div>
        </div>
      </div>

      <div class="padding-center border-bottom">
        <div class="row">
          <div class="columns medium-6">
            <div class="label-text large">
              <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">
                  <h5>HOW TO JOIN THE PROMO</h5>
                  <div class="title">
                    Share and start<br>hosting
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns medium-6">
            <ol>
              
              <li>Daftar sebagai host #WIAExperience</li>
              <li>Follow @wearinasiaofficial @wiaexperience @nusatrip</li>
              <li>Post video menarik di IG feed & story yang menampikan keunikan kamu saat sedang menceritakan suatu
                destinasi/atraksi wisata menggunakan #goandexperience dan mention @wearinasiaofficial @wiaexperience &
                @nusatrip + 3 teman kamu</li>
              <li>Video yang dianggap oleh panitia memiliki storytelling dan visual yang menarik akan mendapatkan 1
                buah DJITELLO</li>

              </ol>

          </div>
        </div>
      </div>
      <div class="padding-center">
        <div class="row">
          <div class="columns medium-6">
            <div class="label-text large">
              <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">
                  <h5>WHAT YOU GET</h5>
                  <div class="title">
                    DJI Tello
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="columns medium-6">
            <img src="https://hniesfp.imgix.net/8/images/detailed/120/DJI_CPPT000021001_main.jpg?fit=fill&bg=0FFF&w=1500&h=1000&auto=format,compress">
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

<!-- AFTER MAIN PAGE -->
<section class="after-main-page padding-center border-top">
  <div class="row">
    <div class="medium-12 columns">
      <div class="banner-promo-host-footer" style="background: url(https://images.unsplash.com/photo-1525496649711-a6c069fc6a1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
            display: block; margin-left: auto; margin-right: auto;">
        <div class="parallax-content">
          <div class="row">
            <div class="columns medium-6">
              <div class="label-text large">
                <div class="flex-container horizontal justify-space-between align-end">
                  <div class="flex-item">
                    <div class="title">
                      Ready to start<br>your experience?
                    </div>
                  </div>
                </div>
              </div>
              <a routerLink="/onboarding/step-1" class="button primary radius">
                Host an experience
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- BEFORE FOOTER -->


<app-global-footer></app-global-footer>
