<!-- AFTER BODY -->

<!-- BEFORE MAIN PAGE -->

<!-- MAIN PAGE -->
<section class="main-page">
    <div class="row padding-center">
        <div class="columns medium-6">
            <div class="label-text large">
                <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                        <div class="subtitle">
                            <h5>Step 3</h5>
                        </div>
                        <div class="title">
                            <h1>Share and start<br>hosting</h1>
                        </div>
                        <div class="subtitle margin-top-2">
                           <p>lorem ipsum</p>
                        </div>
                        <div class="button-container">
                            <a routerLink="/account/customer/manage-experience/my-experience/" class="button primary radius expanded">
                                Continue
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns medium-6">
            <img src="https://images.unsplash.com/photo-1525496649711-a6c069fc6a1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
        </div>
    </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->