<div class="card-experience-booking-contact-info">
    <div class="label-text small">
        <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
                <div class="title">
                    Guest Detail
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <form [formGroup]="bookingForm" class="example-form">
            <div class="booking-callout contact-details margin-bottom-1">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" formControlName="name" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="email" type="email" required>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Number" formControlName="phone" type="number" required>
                </mat-form-field>
            </div>
            <div class="booking-callout note-details margin-bottom-2">
                <div class="label-text small">
                    <div class="flex-container horizontal justify-space-between">
                        <div class="flex-item">
                            <div class="title">
                                Note to your host
                            </div>
                        </div>
                    </div>
                </div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Add note to your host" formControlName="note">
                </mat-form-field>
            </div>
        </form>
    </div>
    <button (click)="submit()" class="button radius expanded primary" [disabled]="bookingForm.invalid">Continue to Review</button>
</div>