<footer id="main-footer" class="footer section-black padding-center show-for-medium">
  <div class="row">
    <div class="medium-7 column">
      <div class="row medium-up-3">
        <div class="columns">
          <h5>About us</h5>
          <ul class="menu vertical no-bullet">
            <li><a href="">Our Story</a></li>
            <li><a href="">Media Review</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">Internship</a></li>
            <li><a href="">Partnership</a></li>
          </ul>
        </div>
        <div class="columns">
          <h5>Wearinsia</h5>
          <ul class="menu vertical no-bullet">
            <li><a href="">Store</a></li>
            <li><a href="">Experience</a></li>
            <li><a href="">Journal</a></li>
          </ul>
        </div>
        <div class="columns">
          <h5>Customer Service</h5>
          <ul class="menu vertical">
            <li><a href="">FAQ</a></li>
            <li><a href="">Store Location</a></li>

            <li><a href="">Shipping Information</a></li>
            <li><a href="">Payment Information</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="medium-5 column">

      <h5>Payment Partner</h5>
      <div class="row medium-up-5 margin-bottom-1">
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/jenius_1.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/mandiri.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
      </div>
      <h5>Shipping Partner</h5>
      <div class="row medium-up-5 margin-bottom-1">
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/jenius_1.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/mandiri.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
        <div class="columns">
          <img src="https://wia.id/media/wysiwyg/logo/bca.svg" alt="">
        </div>
      </div>
    </div>
    <div class="medium-12 columns">
      <div class="small-footer">
        <div class="row">

          <div class="medium-4 columns">
            <ul class="menu align-left">
              <li><a href="#">
                  © 2019 Wearinasia - Indonesia</a></li>

            </ul>

          </div>
          <div class="medium-4 columns">
            <ul class="menu align-right">
              <li><a href="http://www.facebook.com/wearinasia" target="_blank" rel="nofollow"><i
                    class="fa fa-lg fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="http://www.instagram.com/wearinasiaofficial" target="_blank" rel="nofollow"><i
                    class="fa fa-lg fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="http://google.com/+Wearinasiawearable" target="_blank" rel="nofollow"><i
                    class="fa fa-lg fa-google-plus" aria-hidden="true"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCN3pn3nlO89BGOqzUHm39EQ" target="_blank" rel="nofollow"><i
                    class="fa fa-lg fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>

          </div>
          <div class="medium-4 columns">
            <ul class="menu align-right">
              <li><a href="#">Term and Conditions</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Sitemap</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>



</footer>



<div class="navigation-mobile-bottom show-for-small-only">
  <div class="flex-container">
    <div class="flex-item flex-05">
      <a routerLink="/home" routerLinkActive="active">
        <div class="icon">
          <fa-icon [icon]="faHome"></fa-icon>

        </div>
        <div class="title">
          Home
        </div>
      </a>

    </div>
    <div class="flex-item flex-05">
        <a routerLink="/catalog/search" routerLinkActive="active">
          <div class="icon">
              <fa-icon [icon]="faSearch"></fa-icon>
                
          </div>
          <div class="title">
              Search
          </div>
        </a>
         
      </div>
      <div class="flex-item flex-05">
          <a routerLink="/account/customer/booking/list" routerLinkActive="active">
            <div class="icon">
                <fa-icon [icon]="faCalendar"></fa-icon>
                  
            </div>
            <div class="title">
                My Booking
            </div>
          </a>
           
        </div>
    <div class="flex-item flex-05">
      <a routerLink="/account/customer" routerLinkActive="active">
        <div class="icon">
          <fa-icon [icon]="faUser"></fa-icon>

        </div>
        <div class="title">
          Account
        </div>
      </a>

    </div>
  </div>
</div>
