<app-global-header></app-global-header>

<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
                Manage Experience
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Order
            </div>
          </div>
        </div>
      </div>
      <div class="order-list-container margin-bottom-1" *ngFor="let item of orderDate">
        <h5>{{item.date}}</h5>
        <div class="row medium-up-1">
          <div class="columns" *ngFor="let order of item.orders">
            <app-card-experience-order-list
            [title] = "order.name"
            [booking_id] = "order.id"
            [image] = "order.thumbnail"
            [status] = "order.status"
            [label] = "order.label"
            routerLink = "/account/customer/manage-experience/orders/view/id/{{order.id}}"
            ></app-card-experience-order-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->