<!-- AFTER BODY -->

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page medium-grey-bg">
  <div class="row">
    <div class="medium-12 columns">
      <div class="label-text large">
        <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
                <div class="title">
                    Booking Details
                </div>
                <div class="description">
                    Please fill the booking form
                </div>
            </div>
            <div class="flex-item">
                <p>Help O21 - 2222 7825</p>
            </div>
        </div>
    </div>
    </div>
    <div class="medium-7 columns">
      <app-card-experience-booking-schedule [booking_date]="bookdate" [guest]="qty">
      </app-card-experience-booking-schedule>
      <app-card-experience-booking-contact-info></app-card-experience-booking-contact-info>
    </div>
    <div class="medium-5 columns">
      <app-sidebar-experience-booking [title]="name" [price]="price | currency : 'Rp' : 'symbol' : '1.0'"
        [promo]="discount_amount | currency : 'Rp' : 'symbol' : '1.0'"
        [payment_fee]="payment_fee | currency : 'Rp' : 'symbol' : '1.0'"
        [total]="total | currency : 'Rp' : 'symbol' : '1.0'"></app-sidebar-experience-booking>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
