<!-- <body>
  <div class="row">
    <div id="sticky-bottom-anchor" class="medium-9 columns">
      <div class="my-account"><a class="backnav-url" href="https://wia.id/exp/product/">
        <i class="fa fa-angle-left" aria-hidden="true"></i> My Experience</a>
        <h1>Experience List</h1>
        <button class="button small" (click)="addProduct()">+ Add New Experience</button>
          <ul *ngFor="let product of products">
            <a routerLink="/account/customer/product/edit/id/{{product.id}}"
            [queryParams]="{ step: 1}">
            <span class="badge">{{product.id}}</span> {{product.name}}
            </a>
          </ul>
      </div>
    </div>
  </div>
</body> -->

<ul>
  <a routerLink="/account/customer/manage-experience/my-experience/edit/id/{{product.id}}"
  [queryParams]="{ step: 1}">
  <span class="badge">{{product.id}}</span> {{product.name}}
  </a>
</ul>