/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../src/assets/css/app.css";
@import "../src/assets/css/fonts.css";

.parallax-container .mat-form-field-appearance-legacy .mat-form-field-underline{
    background: white !important;
  
  
  }
  .parallax-container .mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 1rem;
  }

.example-full-width{
    min-width: 100% !important
}

.toast_primary {
  background: #F57224;
  color: #000000;
}

.toast_info {
  background: #207BA3;
  color: #ffffff;
}

.toast_warning {
  background: #F9A825;
  color: #000000;
}

.toast_danger {
  background: #D40E24;
  color: #ffffff;
}


.toast_success {
  background: #1AAA6D;
  color: #ffffff;
}
