<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
                Manage Experience
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- BEFORE MAIN PAGE -->

<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row" *ngIf="product">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
        <div class="label-text large padding-bottom-2 border-bottom">
            <div class="flex-container horizontal justify-space-between align-end">
              <div class="flex-item">
                <a routerLink="/account/customer/manage-experience/my-experience" class="action">Back to My Experience</a>
                <div class="title">
                 {{product.name}}
                </div>
                <div class="description">
                    {{product.short_description}}
                </div>
              </div>
              <div class="flex-item">
                  {{product.price  | currency : 'Rp' : 'symbol' : '1.00'}}
                </div>
             
            </div>
          </div>
      
      <app-personal-information *ngIf="getStep() == '1'"></app-personal-information>
      <app-basic-information *ngIf="getStep() == '2'" [product] = "product"></app-basic-information>
      <!-- <div *ngIf="getStep() == '3'"> -->
      <app-price-availability *ngIf="getStep() == '3'" [product] = "product"></app-price-availability>
    <!-- </div> -->
      <app-experience-details *ngIf="getStep() == '4'" [product] = "product"></app-experience-details>
      <app-photo-upload *ngIf="getStep() == '5'" [product] = "product"></app-photo-upload>
      <app-manage-schedule *ngIf="getStep() == '6'" [product]= "product"></app-manage-schedule>
      <!-- {{> list-tile-icon}} -->
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
