<app-global-header></app-global-header>

<!-- AFTER BODY -->
<section class="after-body">
  <div class="category-header-experience show-for-medium">
    <div class="row">
      <div class="medium-12 columns">
        <div class="parrent-category-name">
          EXPLORE
        </div>
        <h1>
          {{category?.category_name}}
        </h1>

      </div>
    </div>
  </div>

  <div class="sub-category-navigation">
    <div class="row">
      <div class="medium-12 columns">
        <div class="flex-container horizontal padding-bottom-1 padding-top-1 border-bottom">
          <div class="flex-item">
            <div class="button tiny radius hollow" *ngFor="let button of category?.subcategory" (click)="go(button.id)">
              {{button.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BEFORE MAIN PAGE -->
<section class="before-main-page">

  <div class="row">
    <div class="medium-12 columns">
      <!-- FEATURED PRODUCT | GLOBAL FUNCTION -->
      <!-- <div class="category-featured-product padding-center border-bottom">
                  {{> label-text-medium}}

              <div class="flex-container">
                  <div class="flex-item">
                      {{> card-experience-featured-product}}
                  </div>
                  <div class="flex-item">
                      {{> card-experience-featured-product}}
                  </div>
                  <div class="flex-item">
                      {{> card-experience-featured-product}}
                  </div>
              </div>
          </div> -->
    </div>
  </div>
</section>

<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <!-- {{> navigation-experience-category}} -->
    </div>
    <div class="medium-8 columns">
      <div class="row medium-up-1" *ngIf="category">
        <div class="columns" *ngFor="let product of category.products">
          <app-card-experience-product [label]="product.category" [title]="product.name" [price]="product.price"
            [image]="product.small_image" [avatar]="product.host.photo" [review]="product.rating.rating_summary"
            [numReview]="product.rating.rating_count" routerLink="/catalog/product/id/{{product.id}}">
          </app-card-experience-product>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->

<app-global-footer></app-global-footer>
