<!-- <app-header></app-header> -->

<app-booking-details *ngIf="getStep() == '1'"></app-booking-details>
<app-booking-review *ngIf="getStep() == '2'"></app-booking-review>
<app-booking-payment *ngIf="getStep() == '3'"></app-booking-payment>