<div class="card-experience-featured-product">
    <a routerLink="/catalog/product/id/{{id}}">
        <div class="image-container">
            <img src="{{thumbnail}}" width="300" height="500" alt="" *ngIf="thumbnail != null">
            <img src="assets/image/product-placeholder.png" width="400" height="500" alt="" *ngIf="thumbnail == null">
            <img class="avatar-image" height="30" width="30" src="{{avatar}}" alt="" *ngIf="avatar != null">
            <img class="avatar-image" height="30" width="30" src="assets/image/user-placeholder.png" alt="" *ngIf="avatar == null">
        </div>
        
        <div class="content-container">
            <div class="category-name">
               {{label}}
            </div>
            <div class="title">
                <h2>{{(name.length>35)? (name | slice:0:35 | titlecase)+'..':(name |titlecase) }}</h2>
                
            </div>

            <!-- <div class="description">
                    Start from
                </div> -->

            <div class="rating-container" *ngIf="review && numReview != null">
                <span class="rating-summary">{{review}}</span>
                <span class="rating-star" style="color:#f57224">
                    <fa-icon [icon]="faStar"></fa-icon>
                </span>
                <span class="rating-count">{{numReview}}</span>
            </div>
            <div class="price">
                <div class="label">
                    from
                </div>
                {{price | currency : 'Rp' : 'symbol' : '1.0'}}
            </div>

            <!-- <div class="button primary radius tiny">
                    Book Now
                </div> -->

        </div>
    </a>

</div>
