<!-- AFTER BODY -->
<section class="after-body">
    <div class="row padding-center">
        <div class="columns medium-12">
            <div class="banner-promo-host" style="background: url(https://images.unsplash.com/photo-1525496649711-a6c069fc6a1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
                <div class="parallax-content">
                    <div class="row">
                        <div class="columns medium-5 medium-push-6">
                            <div class="content-container ">
                                <div class="card-content">
                                    <h2> Start your experience<br>and get up to.</h2>
                                    <h2> Rp 300.000.00,- / Month </h2>
                                    <a routerLink="/onboarding/step-1" class="button primary radius">
                                        Host an Experience
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
<!-- BEFORE MAIN PAGE -->
<section class="before-main-page">
</section>
    
<!-- MAIN PAGE -->
<section class="main-page">
    <div class="row padding-center">
        <div class="columns medium-4">
            <h3>This is USP Number One</h3>
            <label>This is description of USP Number One</label>
        </div>
        <div class="columns medium-4">
            <h3>This is USP Number Two</h3>
            <label>This is description of USP Number One</label>
        </div>
        <div class="columns medium-4">
            <h3>This is USP Number Three</h3>
            <label>This is description of USP Number One</label>
        </div>
    </div>
    <div class="row padding-center">
        <div class="columns medium-6">
            <div class="label-text large">
                <div class="flex-container horizontal justify-space-between align-end">
                    <div class="flex-item">
                        <h5>HOW TO JOIN THE PROMO</h5>
                        <div class="title">
                            Share and start<br>hosting
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns medium-6">
            <label>Term and condition 1</label>
            <label>Term and condition 2</label>
        </div>
    </div>
</section>
    
<!-- AFTER MAIN PAGE -->
<section class="after-main-page">
</section>
<!-- BEFORE FOOTER -->