<div class="card-experience-product">
        <a routerLink="{{url}}">
        <!-- <a routerLink="/catalog/product/id/{{url}}"> -->
    <!-- <a routerLink="/account/customer/manage-experience/my-experience/edit/id/{{url}}" [queryParams]="{ step: 1 }"> -->
        <div class="row">
            <div class="small-4 medium-3 columns">
                <div class="image-container">
                    <img src="{{image}}" width="400" height="500" alt="" *ngIf="image != null">
                    <img src="assets/image/product-placeholder.png" width="400" height="500" alt="" *ngIf="image == null">
                    <img class="avatar-image" height="30" width="30" src="{{avatar}}" alt="" *ngIf="avatar != null">
                    <img class="avatar-image" height="30" width="30" src="assets/image/user-placeholder.png" alt="" *ngIf="avatar == null">
                </div>
            </div>
            <div class="small-8 medium-9 columns">
             

                <div class="category-name">
                    {{label}}
                </div>
                <div class="title">
                   <h2>{{title}}</h2>
               
                
                </div>

                <div class="rating-container" *ngIf="review && numReview != null">
                    <span class="rating-summary">
                        {{review}}
                    </span>
                    <span class="rating-star" style="color:#f57224">
                        <fa-icon [icon]="faStar"></fa-icon>
                    </span>
                    <span class="rating-count">
                        {{numReview}} review
                    </span>
                </div>

                <div class="flex-container horizontal align-end justify-space-between">
                    <div class="flex-item">
                        <div class="from">
                            From
                        </div>
                        <div class="price">
                            {{price | currency : 'Rp' : 'symbol' : '1.0'}}
                        </div>
                    </div>
                    <div class="flex-item show-for-medium">
                        <div class="from">
                            <div class="button primary tiny radius">
                                View
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </a>

</div>