<!-- <div id="sticky-top-anchor" class="medium-3 columns">
    <div id="category-sidebar" class="navigation-sidebar margin-bottom-1 show-for-medium">
      <div class="filter-container">
        <nav class="navigation-sidebar-list margin-bottom-1">
          <h5>Account</h5>
          <ul class="no-bullet menu vertical">
            <li><a routerLink="/account/customer/profile">Profile</a></li>
            <li><a routerLink="/account/customer/booking/list">Booking</a></li>
            <li><a routerLink="/account/customer/change-password">Change Password</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div> -->

  <div class="sidebar-account show-for-medium">
    <ul class="menu vertical">
      <li><a routerLink="/account/customer/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/account/customer/booking/list" routerLinkActive="active">Booking</a></li>
      <li><a routerLink="/account/customer/change-password" routerLinkActive="active">Change Password</a></li>
    </ul>    
</div>
