.modal-container{
        top: 100%;
        position: fixed;
        background:white;
        left: 0;
        right: 0;
        height: 100%;
        z-index: 99;
      
        -webkit-overflow-scrolling: touch;
       
        
}

.close-button, .close-button.medium {
  right: 1rem;
  top: .5rem;
  font-size: 2em;
  line-height: 1;
  padding: 0.5rem;
}

.close-button {
  position: absolute;
  color: #ccc;
  cursor: pointer;
}