<!-- <div [@{{modalName}}] ="isOpen ? 'open' : 'closed'"> -->
<div [@{{modalName}}]="isOpen ? 'open' : 'closed'" class="modal-container">

  <div class="modal-content margin-top-2">
      <button (click)="toggle()" class="close-button">
          <span aria-hidden="true">×</span>
      </button>
      <ng-content></ng-content>
  </div>
</div>
<button (click)="toggle()" class="button expanded primary radius">Select Booking Date</button>
