<div class="card-experience-order-list">
        <a routerLink="{{url}}">
                <div class="flex-container align-center horizontal">
                        <div class="flex-item flex-1 show-for-medium">
                            <div class="image">
                                <img src="{{image}}" alt="">
                            </div>
                        </div>
                        <div class="flex-item flex-3">
                            <span class="label active">
                                {{label}}
                            </span>
                            
                            <div class="title">
                                {{title}}
                            </div>
                            <div class="description">
                                Booking Id : {{booking_id}}
                            </div>
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <div class="button primary tiny radius">
                                VIEW
                            </div>
                        </div>
                    </div>
        </a>
       
    
    </div>