<!-- AFTER BODY -->

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page medium-grey-bg">
    <div class="row">
        <div class="medium-12 columns">
          <div class="label-text large">
            <div class="flex-container horizontal justify-space-between align-end">
                <div class="flex-item">
                    <div class="title">
                        Booking Review
                    </div>
                    <div class="description">
                        Please review your booking
                    </div>
                </div>
                <div class="flex-item">
                    <p>Help O21 - 2222 7825</p>
                </div>
            </div>
        </div>
        </div>
        <div class="medium-7 columns">
            <app-card-experience-booking-summary
            [bookdate] = "bookdate"
            [guest] = "qty"
            [rules] = ""
            ></app-card-experience-booking-summary>


            <div class="card-experience-booking-payment">
              <div class="payment-method-container border-bottom">
                <div class="flex-container align-center">
                
                  <div class="flex-item flex-3">
                    <div class="title">
                      Bank Transfer
                    </div>
                    <div class="description">
                      Pay with Bank Transfer to our virtual account
                    </div>
                  </div>
                  <div class="flex-item flex-05">
                    
                  </div>
                </div>
              </div>
              <div class="process-booking-container">
                <a (click)="submit()" class="button expanded radius primary">
                  Process Booking
                </a>
              </div>
            </div>
            <!-- <app-card-experience-booking-payment></app-card-experience-booking-payment> -->

        </div>
        <div class="medium-5 columns">
            <app-sidebar-experience-booking
            [title] = "name"
            [price] = "price | currency : 'Rp' : 'symbol' : '1.0'"
            [promo] = "discount_amount | currency : 'Rp' : 'symbol' : '1.0'"
            [payment_fee] = "payment_fee | currency : 'Rp' : 'symbol' : '1.0'"
            [total] = "total | currency : 'Rp' : 'symbol' : '1.0'"
            ></app-sidebar-experience-booking>
        </div>

    </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->

<!-- <div class="checkout-bar text-left">
  <ul class="menu">
    <li> 1. Contact Info </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li> 2. Review Order </li>
    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
    <li> 3. Payment </li>
  </ul>
</div>
<style>#map-canvas {min-height: 350px;}</style>
<div class="wrapper">
  <div class="page">
    <section class="main-content">
      <div class="small-order-summary-container show-for-small-only">
        <div class="row collapse">
          <div class="small-3 columns">
            <img height="300" width="200" id="product-collection-image-4221" class="lazy"
            data-srcset="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 768w, https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 1024w"
            data-src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png"
            src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png"
            alt="" />
          </div>
          <div class="small-9 columns">
            <div style="padding-left:10px">
              <h4 class="no-margin">{{guest_name}}</h4>
              <p>{{price | currency : 'Rp' : 'symbol' : '1.0'}}</p>
            </div>
          </div>
        </div>
      </div>
      <section id="checkout-cart" class="checkout padding-center grey-bg">
        <div class="row small-collapse medium-uncollapse">
          <div class="medium-7 columns">
            <div class="shipping-address-container">
              <div class="shipping-address-header">
                <h2>Please review your order</h2>
              </div>
              <div class="address-list-container">
                <h5 class="caption">BOOKING DETAILS</h5>
                <div class="row collapse small-up-2">
                  <div class="columns">
                    <p><i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date</p>
                    <h3>{{bookdate}}</h3>
                  </div>
                  <div class="columns">
                    <p><i class="fa fa-user" aria-hidden="true"></i> Total Guest</p>
                    <h3>{{qty}} Person</h3>
                  </div>
                </div>
              </div>
              <div class="address-list-container border-top">
                <h5 class="caption">HOUSE RULES</h5>
                <p></p>
              </div>
              <div class="address-list-container border-top">
                <h5 class="caption">NOTE TO HOST</h5>
                <p>{{note}}</p>
              </div>
              <div class="address-list-container border-top">
                <h5 class="caption">CANCELATION POLICY</h5>
                <p>Anda dapat melakukan pembatalan pesanan dengan pengembalian 100% dalam waktu 1x24 jam</p>
              </div>
              <h3>Select Payment Method</h3>
              <form action="">
              <input type="radio" name="bank" value="bni" [(ngModel)]="bank"> BNI<br>
              <input type="radio" name="bank" value="permata" [(ngModel)]="bank"> Permata<br>
              <input type="radio" name="bank" value="lain" [(ngModel)]="bank"> Bank Lainnya<br>
              </form>
                <button type="submit" (click)="submit()" class="button expanded">Continue to Payment <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
              <p class="text-center small-text"><i class="fa fa-lock" aria-hidden="true"></i> By booking an order you are agree to our term and conditions</p>
            </div>
          </div>
          <div class="medium-5 columns">
            <div class="checkout-sidebar-container show-for-medium">
              <h3>Booking Summary</h3>
              <div class="order-summary-container">
                <div class="row collapse">
                  <div class="small-4 columns">
                    <img height="600" width="400" id="product-collection-image-4221"
                    class="lazy"
                    data-srcset="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 768w, https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png 1024w"
                    data-src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png"
                    src="https://wia.id/media/catalog/product/cache/1/small_image/300x200/9df78eab33525d08d6e5fb8d27136e95/u/n/untitled_design_19_.png" alt="" />
                  </div>
                  <div class="small-8 columns">
                    <p>{{name}}</p>
                    <p>{{price | currency : 'Rp' : 'symbol' : '1.0'}}</p>
                  </div>
                </div>
              </div>
              <div class="review-table-container">
                <table>
                  <tbody>
                    <tr>
                      <td class="review-info"><i class="fa fa-user" aria-hidden="true"></i> Total Guest</td>
                      <td class="review-value">{{qty}}</td>
                    </tr>
                    <tr>
                      <td class="review-info">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Booking Date</td>
                        <td class="review-value"> {{bookdate}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="checkout-sidebar-container-bottom">
                <div class="payment-method-group">
                  <h5>METODE PEMBAYARAN</h5>
                  <div class="row small-up-5 margin-bottom-05 collapse">
                    <div class="columns">
                      <div class="partner-logo"><img src="https://wia.id/media/logo/visa-01.svg" alt=""></div>
                    </div>
                    <div class="columns">
                      <div class="partner-logo"><img src="https://wia.id/media/logo/mastercard-01.svg" alt=""></div>
                    </div>
                    <div class="columns">
                      <div class="partner-logo"><img src="https://wia.id/media/logo/jcb-01.svg" alt=""></div>
                    </div>
                    <div class="columns">
                      <div class="partner-logo"><img src="https://wia.id/media/logo/alto-01.svg" alt=""></div>
                    </div>
                    <div class="columns">
                      <div class="partner-logo"><img src="https://wia.id/media/logo/bersama-2-01.svg" alt=""></div>
                    </div>
                  </div>
                  <p style="font-size:12px;font-weight:300">Keamanan pembayaran didukung oleh <a href="https://midtrans.com" target="_blank">midtrans</a>. Hubungi (021) 2222 7825 untuk bantuan</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </div> -->