<div class="show-for-medium navigation-experience-header border-bottom" [ngClass]="ngClass()">
  <div class="flex-container align-center">
    <div class="flex-item flex-1">
      <a routerLink="/">
        WIA EXPERIENCE
      </a>
    </div>

    <div *ngIf="isLoggedIn == null; else checkingSessionSuccess">
      <p>Loading...</p>
    </div>

    <ng-template #checkingSessionSuccess>
    <div class="flex-item" *ngIf="isLoggedIn; else not_logged_in">
      <div class="flex-container flex-container justify-space-between align-center">
        <div class="flex-item">
          <a routerLink="/account/customer/manage-experience/my-experience" routerLinkActive="active">Manage
            Experience</a>

        </div>
        <div class="flex-item">
          <a routerLink="/account/customer/profile" routerLinkActive="active">Account</a>
        </div>
        <div class="flex-item">
            <a (click)="logout()">Logout</a>
          </div>
        <div class="flex-item">
          <a routerLink="/account/customer/profile">
            <img height="30" width="30" class="avatar-image" [src]="user.photo" alt="">
          </a>
        </div>
      </div>
    </div>
  </ng-template>

    <ng-template #not_logged_in>
      <div class="flex-item">
        <div class="flex-container flex-container justify-space-between align-center">

          <div class="flex-item">
            <a routerLink="/account/login">Login</a>

          </div>
          <div class="flex-item">
            <a routerLink="/account/register">Register</a>

          </div>

        </div>
      </div>
    </ng-template>

  </div>
</div>

<div class="navigation-experience-header border-bottom mobile show-for-small-only">
  <div class="flex-container horizontal align-center">

    <div class="item-icon flex-01" *ngIf="this.pageTitle.getTitle() == 'Experience' ;else showArrow">
        <a [routerLink]="[ '/home' ]" routerLinkActive="active">      <img height="25px" width="25px" src="./assets/data/BigLogo.ico" alt=""></a>

      
    </div>

    <ng-template #showArrow>
      <div class="item-icon flex-01">
        <a (click)="back()">
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </a>
      </div>
    </ng-template>

    <div class="flex-item flex-2 text-center">
      <!-- {{this.pageTitle.getTitle()}} -->
      <div class="text-center">


        <b>{{(this.pageTitle.getTitle().length>25)? (this.pageTitle.getTitle() | slice:0:25 | titlecase)+'..':(this.pageTitle.getTitle() |titlecase) }}</b>



      </div>

    </div>
    <div class="item-icon flex-01">
      <a [routerLink]="['/account/customer']">
        <fa-icon [icon]="faUser"></fa-icon>
      </a>
    </div>


  </div>
</div>
