<app-global-header></app-global-header>

<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
                Manage Experience
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- BEFORE MAIN PAGE -->

<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              My Experience
            </div>
          </div>
          <div class="flex-item">
            <a (click)="addProduct()">+ Add Experience</a>
          </div>
        </div>
      </div>
      <div class="row medium-up-1" *ngFor="let product of products">
        <div class="columns">
          <app-card-experience-product
          [title] = "product.name"
          
          [price] = "product.price"
          [image] = "product.thumbnail"
          [avatar] = "product.host.photo"
          [review] = "product.rating.rating_summary"
          [numReview] = "product.rating.rating_count"
          routerLink="/account/customer/manage-experience/my-experience/edit/id/{{product.id}}" [queryParams]="{ step: 2 }"
          >
          </app-card-experience-product>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->

<!-- <body>
  <div class="row">
    <div id="sticky-bottom-anchor" class="medium-9 columns">
      <div class="my-account"><a class="backnav-url" href="https://wia.id/exp/product/">
        <i class="fa fa-angle-left" aria-hidden="true"></i> My Experience</a>
        <h1>Experience List</h1>
        <button class="button small" (click)="addProduct()">+ Add New Experience</button>
        <app-my-exp *ngFor="let product of products" [product] = "product"></app-my-exp>
      </div>
    </div>
  </div>
</body> -->