
<div class="row">
  <div class="medium-12 columns">
    <div *ngIf="ready == 0" class="fullWidth white">

      <mat-form-field class="fullWidth white" style="min-width: 100%">
        <input (ngModelChange)="check($event)" matInput [formControl]="searchControl" [matAutocomplete]="auto">
        <span matPrefix class="margin-right-1">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>

        

      </mat-form-field>

      <mat-error *ngIf="matcher == 'ZeroResult'">No Result</mat-error>

    </div>

    <div *ngIf="ready < 0">
      <h4 class="center">Please wait..</h4>
    </div>

    <mat-option *ngFor="let item of filteredSearchList" [value]="item.name"
      (onSelectionChange)="redirect(item.type, item.id)">
      <fa-icon *ngIf="item.type == TYPE_LOCATION" [icon]="faLocationArrow"></fa-icon>
      <fa-icon *ngIf="item.type == TYPE_ACTIVITY" [icon]="faArrowCircleRight"></fa-icon>
      {{item.name}}
    </mat-option>
  </div>
</div>

<app-global-footer></app-global-footer>
