<div class="sidebar-experience-booking">
    <div class="product-details-container">
        <div class="flex-container">
            <div class="flex-item flex-05 margin-right-1">
                <img src="https://wia.id/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/6/d/6dddb2e8db28a0dd2d517dc0afb88552.jpg"
                width="400" height="500" alt="">
            </div>
            <div class="flex-item flex-3">
                <div class="title">
                    {{title}}
                </div>
                <div class="price">
                    {{price}}
                </div>
            </div>
        </div>
    </div>
    <div class="booking-summary-container">
            <div class="label-text small">
                    <div class="flex-container horizontal justify-space-between">
                        <div class="flex-item">
                            <div class="title">
                               Booking Summary
                            </div>
                           
                        </div>
                
                    </div>
                </div>

        <!-- SUMMARY -->
        <div class="padding-bottom-1">
            <!-- <div class="flex-container justify-space-between">
                <div class="flex-item flex-3">
                    Booking Fee
                </div>
                <div class="flex-item">
                    {{booking_fee}}
                </div>
            </div> -->
            <div class="flex-container justify-space-between">
                <div class="flex-item flex-3">
                    Promo
                </div>
                <div class="flex-item">
                    {{promo}}
                </div>
            </div>
            <div class="flex-container justify-space-between">
                <div class="flex-item flex-3">
                    Payment Fee
                </div>
                <div class="flex-item">
                    {{payment_fee}}
                </div>
            </div>
        </div>
        
        <!-- INPUT VOUCHER -->
        <div class="padding-bottom-1 padding-top-1 border-top border-bottom">
            <div class="flex-container justify-space-between ">
                <div class="flex-item flex-3">
                    Voucher
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Add voucher code to get discount" [(ngModel)]="coupon_code">
                </mat-form-field>
                <div class="flex-item">
                    <a (click)="applyVoucher()" class="button tiny radius hollow">Apply</a>
                </div>
            </div>
            </div>
        </div>
        
        <!-- TOTAL -->
        <div class="padding-top-1">
            <div class="flex-container justify-space-between">
                <div class="flex-item flex-3">
                    Total
                </div>
                <div class="flex-item">
                    <b>{{total}}</b>
                </div>
            </div>
        </div>
    </div>
</div>