<app-global-header></app-global-header>

<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
               Account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<body>
  <div class="row">
    <div class="medium-9 columns">
      <div class="padding-center">
        <h3>Upload Photo</h3>
        <div class="row">
            <img *ngIf="photo != null; else noSelectedAvatar"  class="avatar" 
            [src]="'data:'+photo.type+';base64,'+photo.base64" class="columns small-12 medium-6 large-4">
            <ng-template #noSelectedAvatar>
              <p>No photo selected</p>
            </ng-template>
          </div>

        <div class="row medium-up-1">
          <div class="columns">

            <div class="row" *ngIf="isNotUploading; else uploading">
              <input type="file" accept="image/*" (change)="onSelected($event)" >
              <h6 *ngIf="photo == null">Please Select file</h6>
              <button type="button" class="button primary radius margin-bottom-1" *ngIf="photo != null" (click)="onUpload()">Save image</button>
            </div>
            <div class="row">
              <div class="columns">
                  <ng-template #uploading>
                      <h6>Saving...</h6>
                  </ng-template>
              </div>
              <div class="columns">
                  <p>Maximum size of the image is 5MB</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>