.avatar{
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #222222;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}