<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
               Account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-account></app-sidebar-account>
    </div>
    <div class="medium-8 columns">
      <div class="label-text large padding-bottom-2 border-bottom">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <a routerLink="/account/customer/booking/list" class="action">Back to Booking</a>
            <div class="title">
              {{booking?.name}}
            </div>
            <div class="description">
              {{booking?.status}}
            </div>
          </div>
          <div class="flex-item">
            <p>Booking ID {{booking?.id}}</p>
          </div>
        </div>
      </div>

      <div class="padding-center border-bottom">
        <div class="label-text small">
          <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
              <div class="title">
                Booking Schedule
              </div>

            </div>


          </div>
        </div>
        <div class="row small-up-2 medium-up-2">
          <div class="columns">
            <div class="form-complete">
              <div class="label">
                Booking Date
              </div>
              <div class="input">
                {{booking?.booking_date}}
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="form-complete">
              <div class="label">
                Total Guest
              </div>
              <div class="input">
                {{booking?.qty | number}}
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="padding-center border-bottom">
        <div class="label-text small">
          <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
              <div class="title">
                Booking Details
              </div>

            </div>


          </div>
        </div>
        <div class="row medium-up-1">
          <div class="columns">
            <div class="form-complete margin-bottom-1">
              <div class="label">
                Booking Contact
              </div>
              <div class="input">
                {{booking?.customer_name}}
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="form-complete">
              <div class="label">
                Note to your host
              </div>
              <div class="input">
                <p>{{booking?.guest_info.note}}</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="padding-center border-bottom">
        <div class="label-text small">
          <div class="flex-container horizontal justify-space-between">
            <div class="flex-item">
              <div class="title">
                Booking Summary
              </div>

            </div>


          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item flex-1">
            Experience Cost x {{booking?.qty | number}}
          </div>
          <div class="flex-item flex-1 text-right">
            {{booking?.sub_total | currency : 'Rp' : 'symbol' : '1.0'}}
          </div>
        </div>

        <div class="flex-container">
          <div class="flex-item flex-1">
            Creditcard / Payment Fee (2.5%)
          </div>
          <div class="flex-item flex-1 text-right">
            {{booking?.sub_total * 0.025 | currency : 'Rp' : 'symbol' : '1.0'}}
          </div>
        </div>

        <div class="flex-container">
          <div class="flex-item flex-1">
            Discount
          </div>
          <div class="flex-item flex-1 text-right">
            {{booking?.voucher | currency : 'Rp' : 'symbol' : '1.0'}}
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item flex-1">
            Total
          </div>
          <div class="flex-item flex-1 text-right">
            {{booking?.sub_total - (booking?.sub_total * 0.025) - (booking?.voucher) | currency : 'Rp' : 'symbol' : '1.0'}}
          </div>
        </div>
      </div>

      <div class="padding-center" *ngIf="orderStatusCode == 4 || orderStatusCode == 3">
        <h5>ADD REVIEW</h5>
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width">
            <input class="example-full-width" type="text" formControlName="title" matInput placeholder="Title">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input class="example-full-width" formControlName="rating" matInput placeholder="Rating Star" type="number">

          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input class="example-full-width" formControlName="reviews" matInput placeholder="Description" type="text">

          </mat-form-field>
          <button type="submit" class="button expanded primary radius margin-bottom-1"
            [disabled]="reviewForm.invalid">Submit</button>


        </form>
      </div>
      <!-- {{> list-tile-icon}} -->
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
