<app-global-header></app-global-header>



<div class="padding-center" *ngIf="!isLoggedIn; else logout">
  <div class="row small-up-2">
    <div class="columns">
      <a routerLink="/account/login" class="button expanded radius primary">Login</a>
    </div>
    <div class="columns">
      <a routerLink="/account/register" class="button expanded radius secondary">Register</a>
    </div>
  </div>
</div>

<ng-template #logout>
<div class="padding-center">
    <div class="row small-up-2">
        <button (click)="logoutAccount()" class="button expanded radius secondary">Logout</button>
    </div>
  </div>
  
</ng-template>

<div class="row">
  <div class="medium-12 columns">
    <div class="padding-center">
      <div class="label-text small">
        <div class="flex-container horizontal justify-space-between">
          <div class="flex-item">
            <div class="title">
              Account Setting
            </div>

          </div>


        </div>
      </div>
      <app-list-tile [title]="'Profile'" routerLink="/account/customer/profile"></app-list-tile>
      <app-list-tile [title]="'My Booking'" routerLink="/account/customer/booking/list"></app-list-tile>
      <app-list-tile [title]="'Change Password'" routerLink="/account/customer/change-password"></app-list-tile>


    </div>
  </div>
</div>


<div class="row">
  <div class="medium-12 columns">
    <div class="padding-center">
      <div class="label-text small">
        <div class="flex-container horizontal justify-space-between">
          <div class="flex-item">
            <div class="title">
              Manage Experience
            </div>

          </div>


        </div>
      </div>
      <app-list-tile [title]="'My Experience'" [subtitle]="'Create or hosting an experience'"
        routerLink="/account/customer/manage-experience/my-experience"></app-list-tile>
      <app-list-tile [title]="'Orders'" [subtitle]="'Check an order from your customer'"
        routerLink="/account/customer/manage-experience/orders/list"></app-list-tile>
      <app-list-tile [title]="'Payment & Payout'" [subtitle]="'Request a payout for complete order'"
        routerLink="/account/customer/manage-experience/payout-request"></app-list-tile>
      <app-list-tile [title]="'Bank Account'" [subtitle]="'Add an account for payout'"
        routerLink="/account/customer/manage-experience/bank-account/list"></app-list-tile>

    </div>


  </div>
</div>
