<div class="card-experience-customer-review ">


  <div class="review-container margin-bottom-1">
    <div class="flex-container align-center padding-bottom-1 padding-top-1 border-bottom">
      <div class="flex-item flex-05 margin-right-05">
        <img class="avatar-image" height="60" width="60" src="{{avatar}}" alt="">
      </div>
      <div class="flex-item flex-3">
        <div class="title">
          {{title}}
        </div>

        <div class="rating-container">
               
                <span class="rating-star" style="color:#f57224">
                        <fa-icon [icon]="faStar"></fa-icon>
                   
                </span>
                <span class="rating-summary">
                        {{value}}
                </span>
               
              </div>


        <div class="description">
          {{description}}

        </div>
        <div class="time">
          {{time}}
        </div>
      </div>
    </div>

  </div>


</div>
