<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
    <div class="row">
      <div class="medium-12 columns">
        <div class="label-text large border-bottom padding-center show-for-medium">
          <div class="flex-container horizontal justify-space-between align-end">
            <div class="flex-item">
              <div class="title">
                Manage Experience
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Bank Account
            </div>
          </div>
          <div class="flex-item">
            <a routerLink = "/account/customer/manage-experience/bank-account/view">+ Add Bank</a>
          </div>
        </div>
      </div>
      <app-list-tile *ngFor="let item of bank"
      [title] = "item.bank_name"
      [subtitle] = "item.acc_number"
      routerLink = "/account/customer/manage-experience/bank-account/view/id/{{item.acc_id}}"
      ></app-list-tile>
      <!-- {{> list-tile-icon}} -->
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->