<div class="card-experience-booking-payment">
    <div class="payment-method-container border-bottom">
        <div class="flex-container align-center">
            <div class="flex-item flex-05">
                icon
            </div>
            <div class="flex-item flex-3">
                <div class="title">
                    Bank Transfer
                </div>
                <div class="description">
                    Get this product by 4pm today. Choose gojek or private courier on shipping method. See delivery and return info
                </div>
            </div>
            <div class="flex-item flex-05">
                
            </div>
        </div>
    </div>

    <div class="process-booking-container">
        <a class="button expanded radius primary">
            Process Booking
        </a>
    </div>
</div>