<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
  <div class="row">
    <div class="medium-12 columns">
      <div class="label-text large border-bottom padding-center show-for-medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Account
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- BEFORE MAIN PAGE -->

<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-account></app-sidebar-account>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Profile
            </div>
          </div>
        </div>
      </div>

      <form [formGroup]="editProfile" (ngSubmit)="onSubmit()">
        <label><b>CONTACT INFORMATION</b></label>
        <br>
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="firstname" matInput placeholder="Enter your fullname">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="email" matInput placeholder="Enter your email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="customer_job" matInput placeholder="Enter your job">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input type="text" formControlName="customer_bio" matInput placeholder="Enter your bio">
        </mat-form-field>
        <br><br>
        <label><b>ADDRESS</b></label>
        <br>
        <div formGroupName="address">
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="company" matInput placeholder="Enter your company">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="city" matInput placeholder="Enter your city">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="region" matInput placeholder="Enter your region">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="postcode" matInput placeholder="Enter your postcode">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="street" matInput placeholder="Enter your street">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" formControlName="telephone" matInput placeholder="Enter your telephone">
          </mat-form-field>
        </div>
      </form>
      <button class="button primary radius expanded" [disabled]="editProfile.invalid">Edit</button>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->
