<app-global-header></app-global-header>
<!-- AFTER BODY -->
<section class="after-body">
  <div class="row">
    <div class="medium-12 columns">
      <div class="label-text large border-bottom padding-center show-for-medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Manage Experience
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BEFORE MAIN PAGE -->


<!-- MAIN PAGE -->
<section class="main-page padding-center">
  <div class="row">
    <div class="medium-4 columns">
      <app-sidebar-my-experience></app-sidebar-my-experience>
    </div>
    <div class="medium-8 columns">
      <div class="label-text medium">
        <div class="flex-container horizontal justify-space-between align-end">
          <div class="flex-item">
            <div class="title">
              Payout Request
            </div>
          </div>
        </div>
      </div>
      <div class="payout-container border-bottom margin-bottom-2">
        <div class="flex-container align-center">
          <div class="flex-item flex-2">
            <div class="label">
              Total Payout
            </div>
            <div class="total">
              {{payout?.total_payout | currency : 'Rp' : 'symbol' : '1.0'}}
            </div>
          </div>
          <div class="flex-item flex-1 text-right">
            <a href="#" class="button primary tiny radius">Payout All</a>
          </div>
        </div>
      </div>
      <div class="order-list-container margin-bottom-1">
        <div class="row medium-up-1">
          <div class="columns" *ngIf="payout">
            <app-list-payout *ngFor="let item of payout.transactions"
            [time] = "item.booking_date"
            [title] = "item.id"
            [label] = "item.state"
            [status] = "item.status"
            [price] = "item.sub_total"
            [subtitle] = "item.name"
            [url] = "'/account/customer/manage-experience/payout-request/view/id/'+item.id"
            ></app-list-payout>
        
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- AFTER MAIN PAGE -->

<!-- BEFORE FOOTER -->